body {
  max-width: 500px;
  margin: auto;
  padding-top:60px;
  text-align: center;
  border: 1px solid black;
}
h3{
  text-shadow: 1px 1.5px #000000;
}
.head{
  background: radial-gradient(circle, #56ab2f, #a8e063);
  padding-top: 40px;
  border-radius: 20px;
  color: white;
}

.headText{
   padding-top: 0px;
}

button{
  background-color: rgb(126, 211, 33);
  border-radius: 10px;
  width: 140px;
  color: white;
  border:none;
}

.stat{
  display: inline-block;
  padding: 25px;
}

#profilepic{
  height: 128px;
  width: 128px;
  border-radius: 50%;
}

