{% extends 'base.html'%}

{% block main %}
  <div class="head">
    <img src="{{ url_for('static', filename='image.jpg')}}" alt='Profile Picture' id='profilepic'>
    <h3 class='headText' id='name'>Galen Hare</h3>
    <p class='headText'>@galenhare</p>
    <p class='headText'>UWI,Mona</p>
    <p class='headText'>{{date}}</p>
  </div>
  <div class='description'>
    <p>
      Description
    </p>
  </div>
  <div>
    <div  class='stat'>
      <h2><strong>7</strong></h2>                    
      <p><small>Posts</small></p>
    </div>
    <div class='stat'>
      <h2><strong>5</strong></h2>                    
      <p><small>Following</small></p>
    </div>
    <div class='stat'>
      <h2><strong>10</strong></h2>                    
      <p><small>Followers</small></p>
    </div>
  </div>
  <div>
    <button class="button"> Follow </button>
  </div>
{% endblock%}
